/** FRAME WRAPPER **/

.frameContainer {
  border-radius: var(--br-base);
  box-shadow: var(--shadow-shadow-4);
  /* padding: var(--padding-base) var(--padding-5xl); */
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frameWrapper {
  border-radius: var(--br-base);
  background-color: rgba(19, 19, 19, 0.34);
  /* background-color: var(--brand); */
  backdrop-filter: blur(16px);
  text-align: center;
  font-size: var(--typescale-body3-medium-size);
}

.frameItem {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frameItem select,
.frameItem input,
.frameItem button {
  /* padding: 5px !important; */
  font-size: 20px;
}

.frameItem:nth-child(1) {
  /* border-right: 1px solid #8e8e8e; */
  border-right: 1px solid #fff;
}

.locationInput {
  background-color: transparent;
  border: none;
  color: #fff !important;
}

.locationInput:focus {
  outline: 0;
}

.locationInput::placeholder {
  color: #fdfdfd;
}
/* 
.projectsCompleted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projectsCompletedItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projectsCompleted .projectsCompletedItem {
  text-align: center;
}

.projectsCompleted .projectsCompletedItem p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.projectsCompleted .projectsCompletedItem p:nth-child(2) {
  font-size: 0.8rem;
  color: var(--black-black5) !important;
} */

.projectsCompleted {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.projectsCompleted .projectsCompletedItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  font-weight: 500;
  width: 300px;
}

.projectsCompleted .projectsCompletedItem:hover {
  /* background-color: var(--black1); */
  background-color: var(--brand);
  /* background-color: #c0e8fe; */
}

.projectsCompleted .projectsCompletedItem:hover p:nth-child(1) {
  color: var(--white1);
  font-weight: 500;
}

.projectsCompleted .projectsCompletedItem:hover p:nth-child(2) {
  color: var(--white2);
  font-weight: 500;
}

.projectsCompleted .projectsCompletedItem {
  background-color: var(--white3);
}

/** Add Font weight to paragraph elements that are not the first child**/
.projectsCompleted .projectsCompletedItem p:nth-child(1) {
  color: var(--black3);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.projectsCompleted .projectsCompletedItem p:nth-child(2) {
  color: var(--black2);
  font-size: 1rem;
}

/* Styles for the select element */
.dropdownSelect {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Style the dropdown list */
.dropdownSelect::-ms-expand {
  /* Hide the default arrow in IE */
  display: none;
}

.dropdown {
  width: 100%;
  outline: none;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #fff;
  /* Add a custom dropdown arrow */
  background-image: url("/soom-homes/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

/* Style the dropdown options */
.dropdown option {
  background-color: #000;
  color: #fff;
}

/* service process section */

.serviceProcessContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.serviceProcessCardContainer {
  /* display: flex;
  justify-content: space-between;
  gap: 30px; */
  display: grid;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.serviceProcessCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-13xl);
}

.serviceProcessCard {
  /* max-width: 350px;
  min-height: 200px; */
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center; */
  /* padding: var(--padding-21xl) var(--padding-xl); */
  padding: 15px;
  border-radius: var(--br-13xl);
  background-color: #f8f8f8;
}

.serviceProcessCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.serviceProcessCardHeader > h4 {
  height: 1.4rem;
  width: 1.4rem;
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  color: var(--black);
  background-color: var(--brand);
  color: white;
  border-radius: 50%;
}
.serviceProcessCardHeader > h5 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--brand);
}

.serviceProcessCard > hr {
  width: -webkit-fill-available;
  height: 1px;
  background-color: rgb(188 188 188);
}

.serviceProcessCard > p {
  /* color: rgb(118, 118, 118) !important; */
  color: #313345 !important;
  font-size: 1.2rem;
}

/**services section**/
.serviceCardContainer {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px; */
  display: grid;
  justify-content: center;
  align-items: start;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.serviceCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-13xl);
}

.serviceCardWrapper:nth-child(1) {
  transform: translate(0%, 10%);
}

.serviceCardWrapper:nth-child(2) {
  transform: translate(0%, -10%);
}

.serviceCard {
  max-width: 300px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-xl);
  border-radius: var(--br-13xl);
  color: #fff !important;
}

.serviceCardCarousal {
  width: 100% !important;
}

.serviceCardIcon {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  /* border-radius: 50%; */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
}

.serviceCardIcon img {
  object-fit: fill;
}

.serviceCard.hasBrandBg {
  background-color: var(--brand) !important;
}

.serviceCard.hasBlackBg {
  background-color: var(--black1) !important;
}

.cleaningItemsWrapper {
  width: 100%;
  height: 50px;
}

.cleaningItems {
  position: absolute;
  right: -25px;
  transform: translate(0%, -30%);
}

.cleaningItemsSingle {
  text-align: right;
}

.cleaningItemsSingle:nth-child(1) {
  transform: translate(0%, -20%);
}

.cleaningItemsSingle:nth-child(2) {
  transform: translate(0%, -100%);
}

/* Testimonial section */
.testimonialContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.testimonialItem {
  align-self: center;
  text-align: center;
  margin-bottom: 5px;
}

.testimonialItem .testimonialController {
  display: none;
}

/* Styles for Mobile Screens */
@media screen and (max-width: 767px) {
  .frameContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .frameItem:nth-child(1) {
    border-right: none !important;
    border-bottom: 1px solid #8e8e8e;
  }

  .frameItem > button,
  .frameItem > div {
    width: 100%;
  }

  /* .projectsCompleted .projectsCompletedItem {
    max-width: 100px;
  } */

  .projectsCompleted {
    flex-direction: column !important;
  }

  .projectsCompleted .projectsCompletedItem {
    width: 100% !important;
  }

  .serviceCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-13xl);
  }

  .testimonialItem h4 {
    font-size: 1rem !important;
  }

  .cleaningItemsWrapper {
    width: 100%;
    height: 20px;
  }

  .cleaningItems {
    position: absolute;
    right: -25px;
    transform: translate(0%, -15%);
  }

  .page_cleaningItemsSingle__hRswf:nth-child(2) {
    transform: translate(0%, -120%);
  }

  .cleaningItemsSingle:nth-child(1) img {
    width: 250px;
  }

  .cleaningItemsSingle:nth-child(2) img {
    width: 200px;
  }
  /* 
  .serviceProcessCardContainer {
    flex-direction: column;
  } */

  .serviceCardContainer {
    /* flex-direction: column; */
    grid-template-columns: 1fr;
  }
  .serviceCard {
    max-width: 300px;
    min-height: 350px;
  }

  .serviceCardWrapper {
    transform: none !important;
  }

  .testimonialItem .testimonialController {
    background-color: transparent;
    border: unset;
    display: block;
  }
}

/* Your tablet-specific styles here */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .serviceCardContainer {
    grid-template-columns: 1fr 1fr;
  }
  .serviceCard {
    max-width: 350px;
    min-height: 350px;
  }
}
